[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.1.6,<3.3"
python-dotenv = {extras=["cli"], version="*"}
django-rapyd-wiretap = {path = "./dist/django-rapyd-wiretap-0.0.2.tar.gz"}

[dev-packages]
pre-commit = "*"
rope = "*"
tox = "*"

[requires]
python_version = "3.6"
