[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.1.6,<3.3"
python-dotenv = {extras=["cli"], version="*"}

[dev-packages]
pre-commit = "*"
rope = "*"
tox = "*"

[requires]
python_version = "3.6"
